<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>Merula Art+Design</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <link rel="canonical" href="/index.html">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
     <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "headline": "Merula Art+Design"
    }
    </script>
    <amp-analytics type="googleanalytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-97069920-1"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
  </amp-analytics>
    <style amp-custom>
      *, *:before, *:after {
        box-sizing: inherit;
      }
      html {
        box-sizing: border-box;
      }
      @font-face {
        font-family: 'AurelisADFScriptNo2Std-CdIta';
        src: url('fonts/AurelisADFScriptNo2Std-CdIta.eot');
        src: url('fonts/AurelisADFScriptNo2Std-CdIta.woff2') format('woff2'),
             url('fonts/AurelisADFScriptNo2Std-CdIta.woff') format('woff'),
             url('fonts/AurelisADFScriptNo2Std-CdIta.ttf') format('truetype'),
             url('fonts/AurelisADFScriptNo2Std-CdIta.svg#AurelisADFScriptNo2Std-CdIta') format('svg'),
             url('fonts/AurelisADFScriptNo2Std-CdIta.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: 'AurelisADFScriptNo2Std-CdIta', Serif;
      }
      .navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;
      }
      .navigation li {
        flex-grow: 1;
        padding-top: 10px;
        padding-left: 10px;
      }
      div.category_header {
        font-size: 1.1em;
        background:transparent;
        border:1px solid #fff;
        color:#bbb;
      }

      .subnavigation {
        background:transparent;
        border:1px solid #fff;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      a {
        font-size: 1.1em;
        text-decoration: none;
        cursor: pointer;
        color:#bbb;
      }
      a.active {
        color: #333;
      }
      a.facebook {
        color: #46b;
      }

      .navigation.bottom {
        margin-top: 7em;
        width:30%;
        min-width: 250px;
      }
      div.quote {
        font-family: 'Gentium Basic', serif;
        font-size: 1.2em;
        background-color: #bbb;
        padding: 5em 5em 13em 10em;
        color: #333;
      }
      div.quote a {
        color: #fff;
      }
      div.quote.center {
        text-align: center
      }
      .top_images {
        padding-left: 10px
      }
      .top_images img {
        padding-left: 20px
      }
      .home {
        display: none;
      }
      .slim {
        display: none;
      }

      .caro {
        margin-left: 1em;
      }
      @media only screen and (min-width: 551px) and (max-width: 700px)  {
        .header-image {
          display: none;
        }
        .home {
          display: block;
        }
        .navigation {
          min-height: 3em;
        }
        div.quote {
          font-size: 1em;
          padding: 2em;
          color: #333;
        }
      }

      @media only screen and (max-width: 550px)  {
        .header-image {
          display: none;
        }
        .home {
          display: none;
        }
        .navigation {
          display: none;
        }
        .slim {
          display: block;
          min-height:3em;
        }

        div.slim-header {
          padding: 10px;
        }

        .slim-navigation {
          list-style-type: none;
          margin: 0;
          margin-top: 1em;
          padding: 0;
          width: 100%;
        }
        .slim-navigation .subnavigation {
            font-size: 1em;
        }

        div.quote {
          font-size: 1em;
          padding: 2em;
          color: #333;
        }

        div.category_header {
          font-size: 1em;
        }

        a {
          font-size: 1em;
        }
      }
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <amp-install-serviceworker src="sw.js" data-iframe-src="sw.html" layout="nodisplay"></amp-install-serviceworker>
     <div class="slim slim-header">
      <a href="/index.html">
      <amp-img src="/logo.jpg" width="220" height="102" alt="Merula Art und Design"></amp-img></a>
    </div>
    <ul class="navigation">
      <li>
        <a href="/index.html">
        <amp-img class="header-image" src="/logo.jpg" width="242" height="112" alt="Merula Art und Design"></amp-img></a>
      </li>
      <li class="home">
        <a href="/index.html">Merula</a>
      </li>
      <% sections.select {|t| t.type == :section && t.parent.nil? }.each do |other_section| %>
      <li>
        <% if other_section.has_subsections %>
          <amp-accordion disable-session-states>
            <section>
              <div class="category_header"><%= other_section.title %></div>
              <ul class="subnavigation">
                <% other_section.subsections.each do |subsection| %>
                <li><a href="<%= subsection.id %>.html"><%= subsection.title %></a></li>
                <% end %>
              </ul>
            </section>
          </amp-accordion>
        <% else %>
        <a href="/<%= other_section.id %>.html"><%= other_section.title %> </a>
        <% end %>
      </li>
      <% end %>
      <li>
        <a href="/about.html" class="active">Über </a>
      </li>
      <li>
        <a href="/contact.html">Kontakt </a>
      </li>
    </ul>
    <div class="caro">
      <amp-img src="caro.jpg"
        width="210"
        height="171"
        alt="Das bin ich"></amp-img></a>
    </div>
    <div class="quote">
      <p>
      Unter dem Namen Merula Art & Design fertige ich, Goldschmiedin und Kommunikationsdesignerin Carola Brochwitz, Unikatschmuck für jede Gelegenheit. Ob Liverollenspiel, Mittelalter, Trau- und Verlobungsringe oder besonderen Schmuck für den Alltag.
      </p>
      <p>
      Im Vordergrund steht für mich, das richtige Schmuckstück für den jeweiligen Kunden zu entwickeln und herzustellen, unter Berücksichtigung von Wünschen und Vorstellungen, aber auch von Tragekomfort und Materialeignung für den jeweiligen Einsatz.
      </p>
      <p>
      Diese Website soll einen kleinen Eindruck der vielfältigen Möglichkeiten vermitteln, Anfragen können gerne über die <a href="/contact.html">Kontaktseite</a> gestellt werden.
      </p>
    </div>
    <ul class="bottom navigation">
      <li>
        <a href="/impressum.html">Impressum</a>
      </li>
      <li>
        <a href="/privacy.html">Datenschutzerklärung</a>
      </li>
      <li>
        <a href="https://www.facebook.com/MerulaDesign/" target="_blank"  class="facebook">Facebook</a>
      </li>
    </ul>
    <ul class="slim slim-navigation">
      <li>
        <amp-img class="header-image" src="logo.jpg" width="242" height="112" alt="Merula Art und Design"></amp-img>
      </li>
      <li class="home">
        <a href="/index.html">Merula</a>
      </li>
      <% sections.select {|t| t.type == :section && t.parent.nil? }.each do |other_section| %>
      <li>
        <% if other_section.has_subsections %>
          <amp-accordion disable-session-states>
            <section>
              <div class="category_header"><%= other_section.title %></div>
              <ul class="subnavigation">
                <% other_section.subsections.each do |subsection| %>
                <li><a href="<%= subsection.id %>.html"><%= subsection.title %></a></li>
                <% end %>
              </ul>
            </section>
          </amp-accordion>
        <% else %>
        <a href="/<%= other_section.id %>.html"><%= other_section.title %> </a>
        <% end %>
      </li>
      <% end %>
      <li>
        <a href="/about.html">Über </a>
      </li>
      <li>
        <a href="/contact.html">Kontakt </a>
      </li>
      <li>
        <a href="/impressum.html">Impressum</a>
      </li>
      <li>
        <a href="/privacy.html">Datenschutzerklärung</a>
      </li>
      <li>
        <a href="https://www.facebook.com/MerulaDesign/" target="_blank"  class="facebook">Facebook</a>
      </li>
    </ul>
  </body>
</html>