<!doctype html>
<html ⚡>
	<head>
		<meta charset="utf-8">
		<title>Merula Art+Design</title>
		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
		<script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
		<script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
		<link rel="canonical" href="/index.html">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		 <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "headline": "Merula Art+Design"
    }
    </script>
    <amp-analytics type="googleanalytics">
	<script type="application/json">
	{
	  "vars": {
	    "account": "UA-97069920-1"
	  },
	  "triggers": {
	    "trackPageview": {
	      "on": "visible",
	      "request": "pageview"
	    }
	  }
	}
	</script>
	</amp-analytics>
    <style amp-custom>
    	*, *:before, *:after {
			  box-sizing: inherit;
			}
			html {
			  box-sizing: border-box;
			}
			@font-face {
			  font-family: 'AurelisADFScriptNo2Std-CdIta';
			  src: url('fonts/AurelisADFScriptNo2Std-CdIta.eot');
			  src: url('fonts/AurelisADFScriptNo2Std-CdIta.woff2') format('woff2'),
			       url('fonts/AurelisADFScriptNo2Std-CdIta.woff') format('woff'),
			       url('fonts/AurelisADFScriptNo2Std-CdIta.ttf') format('truetype'),
			       url('fonts/AurelisADFScriptNo2Std-CdIta.svg#AurelisADFScriptNo2Std-CdIta') format('svg'),
			       url('fonts/AurelisADFScriptNo2Std-CdIta.eot?#iefix') format('embedded-opentype');
			  font-weight: normal;
			  font-style: normal;
			}
			body {
				font-family: 'AurelisADFScriptNo2Std-CdIta', Serif;
			}
		  ul.navigation {
		    list-style-type: none;
    		margin: 0;
    		padding: 0;
    		width: 100%;
    		display: flex;
		    align-items: flex-start;
		  }
		  ul.navigation li {
		  	flex-grow: 1;
		  	padding-top: 10px;
		  	padding-left: 10px;
		  }
		  a {
		  	font-size: 1.1em;
		  	text-decoration: none;
		  	cursor: pointer;
		  	color:#bbb;
		  }
		  a.active {
		  	color: #333;
		  }
		  a.facebook {
		  	color: #46b;
		  }

   		  ul.navigation.bottom {
				width:30%;
				min-width: 250px;
		  }
		  div.quote {
		  	font-size: 1.2em;
		  	background-color: #bbb;
		  	padding-top: 5em;
		  	padding-bottom: 5em;
		  	color: #333;
		  }
		  div.quote a {
		  	color: #fff;
		  }
		  div.quote a.facebook {
		  	color: #46b;
		  }
		  div.quote.center {
		  	text-align: center
		  }
		  .top_images {
		  	padding-left: 10px
		  }
		  .top_images img {
		  	padding-left: 20px
		  }
		</style>
		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	</head>
	<body>
		<amp-install-serviceworker src="sw.js" data-iframe-src="sw.html" layout="nodisplay"></amp-install-serviceworker>
		<ul class="navigation">
			<li>
				<a href="/index.html">
				<amp-img class="header-image" src="/logo.jpg" width="242" height="112" alt="Merula Art und Design"></amp-img></a>
			</li>
			<% sections.each do |other_section| %>
			<li>
				<a href="/<%= other_section.id %>.html"><%= other_section.title %> </a>
			</li>
			<% end %>
			<li>
				<a href="/about.html">Über </a>
			</li>
			<li>
				<a href="/contact.html" class="active">Kontakt </a>
			</li>
		</ul>
		<amp-carousel class="top_images" height="210"
		  layout="fixed-height"
		  type="carousel">
		   <% items.each do |item| %>
		  	<a href="/<%= item.section.id %>.html">
		  	<amp-img src="/items/<%= item.section.id %>/<%= item.id %>/thumb.png"
		  	  width="210"
		  	  height="178"
		  	  alt="<%= item.title %>"></amp-img></a>
		  <% end %>
		</amp-carousel>
		<div class="quote center">
			Kontaktaufnahme ist per Email an <a href="mailto:merula.schmuck@gmail.de">merula.schmuck@gmail.de</a> möglich, oder über meine <a href="https://www.facebook.com/MerulaDesign/" target="_blank"  class="facebook">Facebookseite</a>. 
		</div>
		<ul class="bottom navigation">
			<li>
				<a href="/impressum.html">Impressum</a>
			</li>
			<li>
				<a href="/privacy.html">Datenschutzerklärung</a>
			</li>
			<li>
				<a href="https://www.facebook.com/MerulaDesign/" target="_blank"  class="facebook">Facebook</a>
			</li>
		</ul>
	</body>
</html>